page {
  background-color: #f5f5f5;
  .fixed-action__placeholder {
    height: 76rpx;
    margin-bottom: 20rpx;
    .fixed-action {
      box-sizing: border-box;
      z-index: 2;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 76rpx;
      background-color: #fff;
      padding: 0 24rpx;
      color: #2f3844;
      font-size: 28rpx;
    }
  }
  .records-card {
    background-color: #fff;
  }
  .fixed-extra__placeholder {
    height: 88rpx;
    margin-bottom: 20rpx;
    .fixed-extra {
      box-sizing: border-box;
      z-index: 20;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 88rpx;
      background-color: #fff;
      padding: 0 32rpx;
      color: #2a2a2a;
      font-size: 28rpx;
      .fixed-extra__wrap {
        height: 100%;
        .cashier {
          display: flex;
          justify-content: flex-end;
          .cashier-detailed {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .cashier-detailed__total {
              font-size: 32rpx;
              font-weight: 600;
              .cashier-detailed__total-label {
                font-size: 28rpx;
              }
            }
            .cashier-detailed__discount {
              font-size: 20rpx;
            }
          }
          .cashier-detailed__collapse {
            display: flex;
            align-items: center;
            margin-left: 10px;
          }
        }
      }
    }
  }

  .cashier-popup {
    .cashier-popup__header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 112rpx;
      .cashier-popup__title {
        font-size: 32rpx;
        font-weight: 600;
      }
      .cashier-popup__close {
        position: absolute;
        right: 32rpx;
      }
    }
    .cashier-popup__container {
      padding: 12rpx 0;
      .cell {
        display: flex;
        justify-content: space-between;
        box-shadow: none;
        margin: 0;
        padding: 6px 32rpx;
        .cell-value {
          font-weight: 600;
        }
        &.cell-footer {
          margin-top: 10px;
          .cell-label {
            font-weight: 600;
            font-size: 28rpx;
          }
          .cell-value {
            color: #fb424e;
          }
        }
      }
    }
    .cashier-popup__footer {
      height: 88rpx;
    }
  }
}
