$white: #ffffff;
$black: #000000;
$gray-1: $white;
$gray-2: #f5f5f5;
$gray-3: #f0f0f0;
$gray-4: #e5e5e5;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #262626;
$gray-10: $black;

$blue-base: #2c68ff;
$blue-1: #f2f8ff;
$blue-2: #c9e0ff;
$blue-3: #a3c6ff;
$blue-4: #7aa9ff;
$blue-5: #548aff;
$blue-6: $blue-base;
$blue-7: #1c4ad4;
$blue-8: #0d2ea6;
$blue-9: #051a7a;
$blue-10: #000b4d;

$red-base: #f52f3e;
$red-1: #fff2f5;
$red-2: #ffccd7;
$red-3: #ffa6b6;
$red-4: #ff7d90;
$red-5: #ff576a;
$red-6: $blue-base;
$red-7: #cc1d31;
$red-8: #a10e24;
$red-9: #78061b;
$red-10: #4d0011;

$green-base: #0ed57d;
$green-1: #f2fffb;
$green-2: #bef7e5;
$green-3: #90f0ce;
$green-4: #60e6b2;
$green-5: #37de99;
$green-6: $blue-base;
$green-7: #09b562;
$green-8: #049149;
$green-9: #027034;
$green-10: #004d20;

$orange-base: #ff9c00;
$orange-1: #fffcf2;
$orange-2: #fff0c2;
$orange-3: #ffe091;
$orange-4: #ffcd61;
$orange-5: #ffb730;
$orange-6: $blue-base;
$orange-7: #d47b00;
$orange-8: #a65b00;
$orange-9: #7a3f00;
$orange-10: #4d2500;
